<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myPage.repository.MyPageMapper">
	
	<!-- type="스프링이름" id="별명" -->
	<!-- <result property="스프링" column="DB이름" /> -->
	<resultMap type="com.example.user.model.User" id="UserResultMap">
		<result property="userId" column="USER_ID" />
		<result property="email" column="EMAIL" />
		<result property="password" column="PASSWORD" />
	</resultMap>
	
	<resultMap type="com.example.travelboard.model.Travel" id="TravelResultMap">
		<result property="travelId" column="travel_id" />
		<result property="key" column="key" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCount" column="HIT_COUNT" />
		<result property="price" column="PRICE" />
		<result property="imgId" column="IMG_ID" />
	</resultMap>
	
	<resultMap type="com.example.payment.model.Payment" id="PaymentResultMap">
		<result property="payId" column="pay_id" />
		<result property="name" column="name" />
		<result property="creditCardNumber" column="creditcard_number" />
		<result property="expMonth" column="exp_month" />
		<result property="expYear" column="exp_year" />
		<result property="cvc" column="cvc" />
		<result property="email" column="email" />
	</resultMap>
	
	<resultMap type="com.example.travelboard.model.TravelCart" id="TravelCartResultMap">
		<result property="cartId" column="cart_id" />
		<result property="travelCartId" column="travel_id" />
		<result property="email" column="email" />
	</resultMap>
	
		
	<!-- <delete id="delete" parameterType="long">
		DELETE FROM NOTICE_BOARD WHERE notice_id=#{noticeId}
	</delete> -->
	

	<select id="select_travel_domestic" parameterType="string" resultMap="TravelResultMap">
		select d.*
		from (select c.travel_id, c.key, c.writer, c.title, c.content, c.reg_date, c.hit_count, c.price, c.img_id
		from (select a.*, b.email
        from travel_board a, travel_cart b where a.travel_id = b.travel_id) c where c.email = #{email}) d
		where d.key = 1
	</select>
	
	<select id="select_travel_foreign" parameterType="string" resultMap="TravelResultMap">
		select d.*
		from (select c.travel_id, c.key, c.writer, c.title, c.content, c.reg_date, c.hit_count, c.price, c.img_id
		from (select a.*, b.email
        from travel_board a, travel_cart b where a.travel_id = b.travel_id) c where c.email = #{email}) d
		where d.key = 2
	</select>
	
	<select id="select_payment" parameterType="string" resultMap="TravelResultMap">
		<bind name="email" value="@com.example.user.model.User@sendEmail(email)"/>
		select c.*
		from (select a.travel_id, a.title, a.price, b.email
		from travel_board a, payment_cart b
		where a.travel_id = b.travel_id) c
		where c.email = #{email}
		<!-- #{email}의 이메일은 로그인한 user의 이메일 -->
	</select>
	
	<delete id="delete" parameterType="com.example.travelboard.model.TravelCart">
		DELETE FROM TRAVEL_CART WHERE travel_id=#{travelCartId} AND email = #{email}
	</delete>
	
	<select id="selectById" parameterType="com.example.travelboard.model.TravelCart" resultMap="TravelCartResultMap">
		SELECT * FROM TRAVEL_CART WHERE travel_id=#{travelCartId} AND email = #{email}
	</select>
	
</mapper>