<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelboard.repository.TravelMapper">
	
	<!-- type="스프링이름" id="별명" -->
	<!-- <result property="스프링" column="DB이름" /> -->
	<resultMap type="com.example.travelboard.model.Travel" id="TravelResultMap">
		<result property="travelId" column="travel_id" />
		<result property="key" column="key" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCount" column="HIT_COUNT" />
		<result property="price" column="PRICE" />
		<result property="imgId" column="IMG_ID" />
	</resultMap>
	
	<resultMap type="com.example.travelboard.model.TravelCart" id="TravelCartResultMap">
		<result property="cartId" column="CART_ID" />
		<result property="travelCartId" column="TRAVEL_ID" />
		<result property="email" column="EMAIL" />
	</resultMap>
	
	<!-- insert, update, delete 작업은 영향 받은 로우의 개수를 값을 자동으로 리턴한다. -->
	<insert id="insert" parameterType="com.example.travelboard.model.Travel">
		INSERT INTO travel_board(travel_id, key, writer, title, content, reg_date, hit_count, price, IMG_ID)
		VALUES(ID_TRAVEL.NEXTVAL, #{key}, #{writer}, #{title}, #{content}, SYSDATE, 0, #{price}, #{imgId})
	</insert>
	
	<update id="update" parameterType="com.example.travelboard.model.Travel">
		UPDATE travel_board SET title=#{title}, price=#{price}, key=#{key}, IMG_ID=#{imgId},
		content=#{content} WHERE travel_id=#{travelId}
	</update>
	
	<update id="update_img" parameterType="com.example.travelboard.model.Travel">
		UPDATE travel_board SET IMG_ID=#{imgId}
		WHERE travel_id=#{travelId}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM travel_board WHERE travel_id=#{travelId}
	</delete>
	
	
	<select id="selectById" parameterType="long" resultMap="TravelResultMap">
		SELECT * FROM travel_board WHERE travel_id=#{travelId}
	</select>
	
	<!-- Collection 처리는 자동으로 지원한다. resultType 자동 바인딩-->
	<!-- resultType="Board"를 사용할 수 있는 경우 테이블 칼럼 명이 모델 클래스 필드 변수명과 같을 때만 사용가능--> 
 	<select id="selectByLimit" resultType="com.example.travelboard.model.Travel">
		<bind name="start" value="@com.example.Pager@seekStart(page, size)"/>
		<bind name="end" value="@com.example.Pager@seekEnd(page, size)"/>
		SELECT * FROM (
			SELECT ROWNUM AS rnum, b.* FROM (
				SELECT * FROM travel_board ORDER BY travel_id DESC
			) b
		) WHERE rnum &gt;= #{start} and rnum &lt;= #{end}
	</select> 
	
	<update id="increment">
		UPDATE travel_board SET hit_count=hit_count+1 WHERE travel_id=#{travelId} and writer!=#{requester}
	</update>
	
	<!-- 장바구니에 추가 -->
	<insert id="addcart" parameterType="com.example.travelboard.model.TravelCart">
		INSERT INTO TRAVEL_CART(CART_ID, TRAVEL_ID, EMAIL)
		VALUES(ID_CART.NEXTVAL, #{travelCartId}, #{email})
	</insert>
	
</mapper>